* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.card {
  background-image: url(https://i.pinimg.com/736x/1a/aa/b3/1aaab3e6643cdf5b0779ddc3640389da.jpg); 
}
.card-img-top {
width: 93px;
height: 110px;
background-position: center center;
background-repeat: no-repeat;
background-size: cover;
position: relative;

}
p {
text-align: center;
}
h5 {
text-align: center;
}
h1 {
text-align: center;
}
.imagenFondo {
background-image: url("../images/v223_8.png");
}
.v127_5 {
  width: 100%;
  height: 758px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v223_8 {
  width: 100%;
  height: 758px;
  background: url("../images/v223_8.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v133_8 {
  width: 100%;
  height: 59px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 46px;
  left: 0px;
  overflow: hidden;
}
.v133_9 {
  width: 139px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 54px;
  left: 55px;
  font-family: Irish Grover;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v135_20 {
  width: 349px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 345px;
  left: 11px;
  font-family: Itim;
  font-weight: Regular;
  font-size: 28px;
  opacity: 1;
  text-align: center;
}
.v214_2 {
  width: 399px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 345px;
  left: 387px;
  font-family: Itim;
  font-weight: Regular;
  font-size: 28px;
  opacity: 1;
  text-align: center;
}
.v214_4 {
  width: 369px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 345px;
  left: 823px;
  font-family: Itim;
  font-weight: Regular;
  font-size: 28px;
  opacity: 1;
  text-align: center;
}
.v215_12 {
  width: 93px;
  height: 110px;
  background: url("../images/v215_12.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 217px;
  left: 134px;
  overflow: hidden;
}
.v215_14 {
  width: 111px;
  height: 110px;
  background: url("../images/v215_14.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 212px;
  left: 531px;
  overflow: hidden;
}
.v215_16 {
  width: 117px;
  height: 110px;
  background: url("../images/v215_16.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 212px;
  left: 963px;
  overflow: hidden;
}
.v215_22 {
  width: 234px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 139px;
  left: 500px;
  font-family: Katibeh;
  font-weight: Regular;
  font-size: 50px;
  opacity: 1;
  text-align: left;
}
