

body {
background-image: url("../images/v223_7.png");
text-align:left;
background-size: cover;
background-repeat: no-repeat;
padding: 35px;
font-size: 10px;
text-align: justify;
margin-left: 100px;
margin-top: 60px;
display:flex;
justify-content: left;
position: absolute;
}


.custom-button {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: grey;
    margin-top: 20px;
    color: white;
    padding: 10px;
    font-size: 15px;
    text-align: left;
    border: 1px solid #5a6268;
    z-index: 1000; /* Asegúrate de que esté por encima del contenedor */
  /* Asegúrate de que esté por encima del contenedor */

}
 